{% if entry.parent is defined and entry.parent is not null %}
    {% set entryGroup = entry.firstParent.group %}
{% else %}
    {% set entryGroup = entry.group %}
{% endif %}
<div class="col-md-1">
    <div class="entry avatar">
        <a href="{{ path('user_show', {'username': entry.user}) }}">
            {% if entry.user.avatar is not null %}
                <img src="{{ entry.user.avatar | imagine_filter('profile_thumb') }}" />
            {% else %}
                <img src="{{ asset('bundles/app/images/link/default.png' | imagine_filter('profile_thumb')) }}" />
            {% endif %}
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-11">
    <div class="panel panel-default entry">
        <div class="panel-heading entry-title">
            <h3 class="panel-title">
                <span class="user"><a href="{{ path('user_show', {'username': entry.user}) }}">{{ entry.user }}</a></span>
                <div class="pull-right">
                    <span class="time-added"><i class="fa fa-clock-o"></i> {{ entry.added | ago }}</span>
                    {% if entry.group is not null %}
                        <span class="group"><a href="{{ path('link_group_show', {'title': entry.group.title}) }}">g/{{ entry.group }}</a></span>
                    {% endif %}
                    {% if entry.deletedAt is null %}
                        {% include "::vote/buttons.html.twig" with {'content': entry, 'contentType': 'entry'} only %}
                    {% endif %}
                </div>
            </h3>
                    
        </div>
        <div class="panel-body entry-content" id="entry-{{ entry.uniqueId }}">
            {% if entry.deletedAt is not null %}
                <i>{% trans %}entry.deleted{% endtrans %}</i>
            {% else %}
                <div class="content">
                    {{ entry.content|markdown|findUsers|createUrls }}
                </div>
                <div class="options">
                    {% if entry.updated is not null %}
                        <span>*{% trans %}edited{% endtrans %}: {{ entry.updated|ago}}</span>
                    {% endif %}
                    {% if app.user == entry.user %}
                        <a href="{{ path('entry_edit', {'uniqueId': entry.uniqueId}) }}">
                            <i class="fa fa-pencil-square-o"></i> {% trans %}edit{% endtrans %}
                        </a>
                    {% endif %}
                    {% if app.user == entry.user or moderationToolsAccess(entryGroup) %}
                        <a href="{{ path('entry_delete', {'uniqueId': entry.uniqueId}) }}" data-bb="confirm" class="delete-confirm">
                            <i class="fa fa-trash"></i> {% trans %}delete{% endtrans %}
                        </a>
                    {% endif %}                    
                    {% if entry.parent is null %}
                        <a href="{{ path('entry_show', {'uniqueId': entry.uniqueId}) }}"><i class="fa fa-link"></i> {% trans %}hreflink{% endtrans %}</a>
                    {% endif %}
                    {% if app.user %}
                        <a href="#" class="entry-reply" data-id="{{ entry.uniqueId }}">
                            <i class="fa fa-reply"></i> {% trans %}entry.reply{% endtrans %}
                        </a>
                    {% endif %}
                </div>
                <div class="reply-form"></div>
            {% endif %}
        </div>
    </div>
        <div class="row children">
            {% if entry.getFirstParent() is null %}
                {% for entry_child in entry.children %}
                    {% include '::entry/entry.html.twig' with {'entry': entry_child} only %}
                {% endfor %}
            {% endif %}
        </div>
</div>
