{% extends 'base.html.twig' %}
{% block subtitle %} - {% trans %}menu.entries{% endtrans %}{% endblock %}
    
{% block body %}
    {% if app.user is defined and app.user is not null %}
        <div class="entry-form">
            <div class="form well bs-component">
                {{ form_start(form) }}
                <fieldset>
                    <legend>{% trans %}entry.add_new{% endtrans %}</legend>
                    {{ form_widget(form) }}
                    <div class="buttons">
                        {#<a href="{{ path('entry_index') }}" class="btn btn-primary">{% trans %}cancel{% endtrans %}</a>#}
                        <button type="submit" class="btn btn-primary">{% trans %}entry.add{% endtrans %}</button>
                    </div>
                    <div class="clearfix"></div>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <div class="entries row">
        {% for entry in entries %}
            {% include '::entry/entry.html.twig' with {'entry': entry} only %}
        {% endfor %}
        <div id="paginator">
            {% include '::paginator.html.twig' with {'url': paginationRoute, 'page': page, 'pages': pages} %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/vendor/jquery-autocomplet.min.js'
    '@AppBundle/Resources/public/js/vendor/group.autocompleter.js'
    filter='uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}