<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% set unreadNotificationsNumber = null %}
        {% if app.user.unreadNotificationsNumber > 0 %}
            {% set unreadNotificationsNumber = "(" ~ app.user.unreadNotificationsNumber ~ ") " %}
        {% endif %}
        <title>{{ unreadNotificationsNumber }} {% block title %}{{ site_name }}{% endblock %}{% block subtitle %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

            {% stylesheets '@AppBundle/Resources/public/css/*.css' filter='cssrewrite' output="css/vendor.css" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {% stylesheets '@AppBundle/Resources/public/less/*.less' filter='less,cssrewrite' output="css/main.css" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
           
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body role="document">
        {% block header %}
            {% include ':Base:navbar.html.twig' %}
        {% endblock %}

        <div class="container theme-showcase main" role="main">
            <div class="row">
                <div class="col-md-2">
                    {% block leftblock %}
                        {% set leftblockcontent = leftblock() %}
                        {% if leftblockcontent is not null %}
                            <aside>
                                {% include leftblockcontent with {'route': app.request.get('_route')} %}
                            </aside>
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="col-md-7">
                    <div class="row">
                        {% include ':Base:flashbag.html.twig' %}
                    </div>
                    {% block body %}
                    {% endblock %}
                </div>

                <div class="col-md-3">
                    {% include ':Base:rightblock.html.twig' %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/vendor/jquery-2.2.0.min.js' filter='uglifyjs2' output="js/jquery.min.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>

            {% javascripts '@AppBundle/Resources/public/js/*' filter='uglifyjs2' output="js/main.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts '@AppBundle/Resources/public/js/vendor/bootbox.min.js' filter='uglifyjs2' output="js/bootbox.min.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type"text/javascript" src="https://assets.gfycat.com/gfycat.js"></script>

            {% include ':Base:pusher.html.twig' %}
        {% endblock %}

    </body>
</html>