<div class="list-group leftblock">
    <a href="{{ path('issue_new') }}" class="list-group-item active list-group-item-success"><i class="fa fa-share-alt"></i> {% trans %}issue.new{% endtrans %}</a>
</div>

<div class="list-group leftblock"> 
    {% set currentStatus = app.request.attributes.get('status') %}
    {% for status in issueStatuses() %}
        <a href="{{ path('issue_status', {'id': status.id}) }}" class="list-group-item 
        {% if currentStatus == status %}active{% endif %}">
            <i class="fa fa-list"></i> {{ status.name | trans }} <span class="badge">{{ status.issues | length }}</span>
        </a>
    {% endfor %}
   {#  <a href="{{ path('issue_index') }}" class="list-group-item {% if route == 'issue_index' or route == 'issue_index_page' %}active{% endif %}">
        <i class="fa fa-folder-open"></i> {% trans %}issue.status.open{% endtrans %}
    </a>
    <a href="{{ path('issue_closed') }}" class="list-group-item {% if route == 'issue_closed' or route == 'issue_closed_page' %}active{% endif %}">
        <i class="fa fa-power-off"></i> {% trans %}issue.status.closed{% endtrans %}
    </a> #}
</div>