<div class="list-group leftblock">
    {% if app.user is defined and app.user is not null %}
        <a href="{{ path('link_new') }}" class="list-group-item active list-group-item-success">
            <i class="fa fa-share-alt"></i> {% trans %}link.add_new{% endtrans %}
        </a>
        {% if link is defined and link is not null %}
            <a href="{{ path('link_new_related', {'uniqueId': link.uniqueId}) }}" class="list-group-item active list-group-item-primary">
                <i class="fa fa-plus-square"></i>
                {% trans %}link.add_related_link{% endtrans %}
            </a>
        {% endif %}
    {% endif %}
</div>

<div class="list-group leftblock"> 
    <div class="list-group-item">{% trans %}link.show_content_by{% endtrans %}:</div>
    <a href="{{ path('link_index') }}" class="list-group-item {{ isRouteActive(['link_index', 'link_index_page']) }}">
        <i class="fa fa-fire"></i> {% trans %}link.best{% endtrans %}
    </a>
    <a href="{{ path('link_newest') }}" class="list-group-item {{ isRouteActive(['link_newest', 'link_newest_page']) }}" >
        <i class="fa fa-list"></i> {% trans %}link.newest{% endtrans %}
    </a>
    <a href="{{ path('link_rising') }}" class="list-group-item {{ isRouteActive(['link_rising', 'link_rising_page']) }}">
        <i class="fa fa-list"></i> {% trans %}link.rising{% endtrans %}
    </a>
    {#<a href="{{ path('link_newest') }}" class="list-group-item {% if route == 'link_most_comments' %}active{% endif %}">
        <i class="fa fa-commenting-o"></i> {% trans %}link.most_comments{% endtrans %}
    </a>#}
</div>

