{% extends 'base.html.twig' %}

{% block subtitle %} - {% trans %}menu.groups{% endtrans %}{% endblock %}

{% block body %}
    {% for twogroups in linkgroups|batch(2) %}
        <div class="row">
            {% for group in twogroups %}
                <div class="linkgroup box">
                        <div class="title">
                            <h5><a href="{{ path('linkgroup_show', {'title': group.title }) }}">{{ group.title }}</a></h5>
                        </div>
                        <div class="description">
                            {% if group.description %}
                                {{ group.description }}
                            {% else %}
                                <i>{% trans %}linkgroup.no_description{% endtrans %}</i>
                            {% endif %}
                        </div>
                        <div class="created">
                            {% trans with {'%datetime%': group.added|date("Y-m-d")} %}linkgroup.created %datetime% by{% endtrans %} <a href="{{ path('user_show', {'username': group.owner.username}) }}">{{ group.owner }}</a>
                        </div>
                        <div class="moderators">
                            {% if group.moderators|length > 0 %}
                                {% trans %}linkgroup.moderators{% endtrans %}:
                            {% endif %}
                            {% for moderator in group.moderators %}
                                <a href="{{ path('user_show', {'username': moderator.username}) }}">{{ moderator.username }}</a>{% if loop.last == false %},{% endif %}
                            {% endfor %}
                        </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row link box text-center">
            <h4>{% trans %}linkgroup.no_groups{% endtrans %}</h4>
        </div>
    {% endfor %}

    <div id="paginator">
        {% include '::paginator.html.twig' with {'url': 'linkgroup_index_page', 'page': page, 'pages': pages} %}
    </div>
{% endblock %}

